/* Estilo general */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 120vh;
  display: flex;
  overflow-x: hidden;
  background: linear-gradient(135deg, #0a3a61, #1e6091);
  background-size: 200% 200%;
  animation: gradientBG 6s ease infinite;
}

/* Animación de fondo */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

hr{
  background-color: rgb(114, 112, 112);
}

/* Menú lateral */
.navbar {
  width: 280px;
  background: linear-gradient(135deg, #0a3a61, #1e6091); 
  height: 100vh; /* Un poco menos para separarlo del borde */
  position: fixed; /* Barra fija */
  padding: 20px;
  overflow-y: auto; /* Scroll vertical */
  z-index: 1000;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra elegante */
}

/* Opciones del menú */
.nav-link {
  border-radius: 10px; /* Bordes redondeados */
  color: white;
  display: block;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center; /* Centra el texto */
}

.nav-link:hover {
  background-color: #144d72;
  transform: scale(1.05); /* Pequeño efecto al pasar el mouse */
}

