.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.toolbar-entrada-salida {
  background-color: #0a3a61;
  color: white;
  padding: 15px 20px;
  font-size: 1.2rem; 
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.custom-toolbar {
  padding: 1rem;
}

.bordered-section {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn {
  background-color: #0a3a61;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

.btn-filtrar {
  background-color: #cbcae3;
  color: white;
  padding: 7px 0;
  width: 220px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
}

.btn-excel {
  background-color: #8bc34a;
  color: white;
  padding: 5px 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table, .table th, .table td {
  border: 1px solid #ddd;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.footer-text {
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
}

.page-title {
  font-family: 'Roboto', sans-serif; /* Usa una fuente moderna y limpia */
  font-size: 1.5rem; /* Tamaño grande para que se destaque */
  font-weight: bold; /* Aumenta el peso de la fuente para hacerla más impactante */
  color: #0a3a61; /* Un color verde vibrante para resaltar */
  text-align: center; /* Centra el título en la página */
  margin-top: 40px; /* Da espacio superior para que no esté pegado al borde */
  margin-bottom: 20px; /* Da espacio debajo para separar del contenido */
  text-transform: uppercase; /* Convierte el texto a mayúsculas para mayor énfasis */
  letter-spacing: 2px; /* Añade un poco de espaciado entre las letras para un estilo más moderno */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Un sutil sombreado para que el texto se destaque */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los botones */
  margin-top: 20px;
}

.btns {
  padding: 12px 24px; /* Tamaño adecuado para los botones */
  border-radius: 30px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de texto */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición para un efecto suave */
}

.btn-internos {
  background-color: #4CAF50; /* Color verde para Internos y Externos */
  color: white;
  border: none;
}

.btn-internos:hover {
  background-color: #45a049; /* Un tono más oscuro al pasar el ratón */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

.btn-representantes {
  background-color: #2196F3; /* Color azul para Representantes */
  color: white;
  border: none;
}

.btn-representantes:hover {
  background-color: #1e88e5; /* Un tono más oscuro al pasar el ratón */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

.mat-column-login {
  flex: 0 0 10%;
}
.mat-column-nombres {
  flex: 0 0 15%;
}
.mat-column-apellidos {
  flex: 0 0 15%;
}
.mat-column-numDoc {
  flex: 0 0 10%;
}
.mat-column-fecha {
  flex: 0 0 10%;
}
.mat-column-hora {
  flex: 0 0 10%;
}
.mat-column-tipoAcceso {
  flex: 0 0 11%;
}

/*representante*/
.mat-column-nombres {
  flex: 0 0 20%;
}
.mat-column-apellidos {
  flex: 0 0 20%;
}
.mat-column-numDoc {
  flex: 0 0 20%;
}
.mat-column-cargo {
  flex: 0 0 20%;
}
.mat-column-proveedor {
  flex: 0 0 20%;
}
