/* Estilo general */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  height: 100vh;
  background-size: 200% 200%; /* Tamaño del degradado */
  animation: gradientBG 6s ease infinite; /* Animación para el fondo */
  overflow-x: hidden; /* Evita que aparezca una barra de desplazamiento horizontal */
}

/* Contenido principal, para que no quede cubierto por el menú */
.content {
  margin-left: 300px; /* Deja espacio para el menú lateral */
  padding: 20px;
  color: 0a3a61;
  width: calc(100% - 310px); /* Asegura que el contenido ocupe todo el espacio disponible */
}

/* Estilo para el encabezado principal */
h1 {
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 2.5rem; /* Tamaño de fuente grande */
  color: #0a3a61; /* Azul profesional */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar */
  font-weight: 700; /* Negrita */
  letter-spacing: 1px; /* Espaciado entre letras */
  line-height: 1.5; /* Espaciado entre líneas */
  padding: 10px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
}

/* Contenedor del carrusel */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Carrusel */
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Elementos del carrusel */
.carousel-item {
  min-width: 100%;
  background-color: rgba(45, 145, 226, 0.1);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Mostrar el comunicado activo */
.carousel-item.active {
  opacity: 1;
}

/* Botones de navegación */
button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button.prev:hover, button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilo para la imagen dentro del carrusel */
.carousel-image {
  width: 100%;  /* Ocupa el 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 8px; /* Bordes redondeados */
  margin-top: 20px; /* Espacio superior entre el texto y la imagen */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h5 {
  font-weight: bold;
}

