<app-menu></app-menu>
<body>
    <!-- Contenido Principal -->
    <div class="content">
      <h1>Bienvenido al Proyecto</h1>
      
      <!-- Sección de Comunicados -->
      <div class="comunicados">
        <h2>Comunicados</h2>
        <div class="comunicado">
          <h5>Título del Comunicado 1</h5>
          <p>Contenido del comunicado, que puede incluir detalles importantes o novedades para la comunidad.</p>
        </div>
        <div class="comunicado">
          <h5>Título del Comunicado 2</h5>
          <p>Contenido del comunicado, que puede incluir detalles importantes o novedades para la comunidad.</p>
        </div>
        <!-- Más comunicados se pueden agregar aquí -->
      </div>
    </div>
  </body>
  
